<strong>Hello, {{ provider }} </strong>
<p>There is a new order for delivery. Please check details below.</p>
<p>
  <strong>Product: </strong> {{ prod }} <br />
  <strong>Name: </strong>{{ recipientName }}.<br />
  <strong>Address: </strong>{{ recipientStreet }}.<br />
  <strong>Number: </strong>{{ recipientNumber }}.<br />
  <strong>Zip Code: </strong>{{ recipientZipCode }}.<br />
  <strong>City: </strong>{{ recipientCity }}.<br />
  <strong>State: </strong>{{ recipientState }}.<br />
  <strong>Complement: </strong>{{ recipientComplement }}.
  <br /><br />

  <strong>Order is now available for pickup from 8:00 am to 6:00 pm Monday to Friday</strong>
</p>
