<strong>Hello, {{ provider }} </strong>
<p>Sorry, the order has been cancelled. Please check details below.</p>
<p>
  <strong>Product: </strong> {{ product }} <br />
  <strong>Name: </strong>{{ recipientName }}.<br />
  <strong>Address: </strong>{{ recipientStreet }}.<br />
  <strong>Number: </strong>{{ recipientNumber }}.<br />
  <strong>Zip Code: </strong>{{ recipientZipCode }}.<br />
  <strong>City: </strong>{{ recipientCity }}.<br />
  <strong>State: </strong>{{ recipientState }}.<br />
  <strong>Complement: </strong>{{ recipientComplement }}.
  <br /><br />

  <strong>Order cancelled</strong>
</p>
